
.intro{
    margin-top: 173px;
    height: 100vh;
    background:url("/img/PNG/about_us_intro.png") no-repeat center;
    background-size: cover;
}




.abouttext{
    margin-top: 68px;
    display: flex;

}





.aboutdesk{
    padding-left: 100px;
    padding-right: 100px;
    width: 1266px;
    height: 259px;  
    align-items: center;
    text-align: center;

    line-height: 43px;
    font-size: 36px;

}

.line{
    background: #EFC26E;
    height: auto;
    width: 2px;
}



.stats{
    
    margin-top: 68px;
    display: flex;
    flex-wrap: wrap;

}

.statscard{
    margin-right: 285px;
}

.statscard:last-child{
    margin-right: 0px;
}

.stats_text{

    margin-top: 31px;
    text-align: center;
    font-size: 36px;
    line-height: 43px;
    width: 229px;
    height: 81px;
}



.aboutus_card{
    margin-top: 107px;
    display: flex;
    flex-wrap: wrap;
}   



.aboutus_text{
    width: 587px;
    height: 424px;
    margin-top: 100px;
    align-items: center;

}


.besthol_sustitle{
    width: 587px;
    height: 424px;
    margin-top: 20px;
    font-size: 24px;
    line-height: 29px;

}

.besthol_photo{
    margin-left:58px;
}

.secur{

    margin-right: 2px;
}


.secure, .secure_sustitle{

    margin-left: 50px;
    align-items: center;
    text-align: right;
}
 